server:
  port: 8083

spring:
  application:
    name: orders-service
  datasource:
    url: jdbc:postgresql://localhost:5435/orders_db
    username: user_orders
    password: password_orders
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest