

  #configuracion de, gateway
  server:
    port: 8080

  spring:
    application:
      name: api-gateway
    cloud:
      gateway:
        routes:
          - id: auth
            uri: http://localhost:8081
            predicates:
              - Path=/auth/**
          - id: catalog
            uri: http://localhost:8082
            predicates:
              - Path=/catalog/**
            filters:
              - StripPrefix=1
          - id: orders
            uri: http://localhost:8083
            predicates:
              - Path=/orders/**
            filters:
              - StripPrefix=1

  management:
    endpoints:
      web:
        exposure:
          include: health
    endpoint:
      health:
        show-details: always
        

    
